{% extends 'pages/base.html' %}

{% block content %}
  {% if pagination is defined %}
    <h1>Gestor de Usuarios</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre de usuario</th>
          <th>Nivel de acceso</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for user in usuarios %}
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.rank }}</td>
            <td>
            
              {% if user.username != 'admin' %}
                <form action="/editar_usuario" method="POST">
                  <input type="hidden" name="username" value="{{ user.username }}">
                  {% if user.username in mensaje %}
                    {% if mensaje[user.username]['password'] is defined %}
                      <input type="text" name="password" placeholder="Nueva contraseña" value="{{ mensaje[user.username]['password'] }}" required>
                    {% else %}
                      <input type="text" name="password" placeholder="Nueva contraseña" required>
                    {% endif %}
                    {% if mensaje[user.username]['rank'] is defined %}
                      <input type="text" name="rank" placeholder="Nuevo nivel de acceso" value="{{ mensaje[user.username]['rank'] }}" required>
                    {% else %}
                      <input type="text" name="rank" placeholder="Nuevo nivel de acceso" value="{{ user.rank }}" required>
                    {% endif %}
                  {% else %}
                    <input type="text" name="password" placeholder="Nueva contraseña" required>
                    <input type="text" name="rank" placeholder="Nuevo nivel de acceso" value="{{ user.rank }}" required>
                  {% endif %}
                  <input type="submit" class="btn btn-primary" value="Editar">
                </form>
                {% if user.username in mensaje %}
                  {% if mensaje[user.username]['message'] %}
                    <p class="text-success">{{ mensaje[user.username]['message'] }}</p>
                  {% else %}
                    <p class="text-success">Los datos han sido modificados.</p>
                  {% endif %}
                {% endif %}
              {% else %}
                <p class="text-danger">No se puede editar la contraseña del usuario admin</p>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
      {{ pagination.links }}
    </div>
    <form method="POST">
      <input type="submit" name="crear_usuario" value="Crear Usuario" class="btn btn-success">
      <input type="submit" name="eliminar_usuario" value="Eliminar Usuario" class="btn btn-danger">
    </form>
  {% endif %}
{% endblock %}

