{% extends 'pages/base.html' %}

{% block content %}
<form action="/eliminar_archivo" method="POST" onsubmit="return confirmarEliminacion()">
  {% for archivo in archivos %}
      <label>
          <input type="checkbox" name="file_id" value="{{ archivo.file_id }}">
          {{ archivo.file_name }}
      </label><br>
  {% endfor %}
  
  <input type="submit" value="Eliminar Archivos">
</form>

<script>
function confirmarEliminacion() {
  var checkboxes = document.getElementsByName('file_id');
  var checkedCount = 0;
  
  for (var i = 0; i < checkboxes.length; i++) {
    if (checkboxes[i].checked) {
      checkedCount++;
    }
  }
  
  if (checkedCount > 0) {
    var confirmacion = confirm('¿Estás seguro de que deseas eliminar los archivos seleccionados?');
    if (confirmacion) {
        return true;
    } else {
        return false;
    }
  } else {
    alert('Selecciona al menos un archivo para eliminar.');
    return false;
  }
}
</script>
{% endblock %}
