{% extends 'pages/base.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
{% block content %}
<h1>Subir Archivo</h1>
    
{% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
{% endif %}

{% if success_message %}
    <div class="alert alert-success" role="alert">
        {{ success_message }}
    </div>
{% endif %}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Seleccionar archivo:</label>
        <input type="file" name="file" id="file">
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div id="upload-message"></div>
    <button type="submit" class="btn btn-primary">Subir archivo</button>
</form>
<script src="static/js/upload.js"></script>
{% endblock %}