<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="footer-text">Ave. Justo Arosemena y Cuba y entre calles 35 y 36 Este.</p>
        <p class="footer-text">Corregimiento de Calidonia.</p>
        <p class="footer-text">República de Panamá.</p>
      </div>
      <div class="col-md-6">
        <p class="footer-text">
          <a href="tel:+507 524-8900" class="tel">524-8900</a> /
          <a href="tel:+507 506-9600" class="tel">506-9600</a>
        </p>
        <p class="footer-text">© {{ current_year }} | Municipio de Panamá</p>
        <p class="footer-text">Todos los derechos reservados</p>
        <span id="currentYear"></span>
      </div>
    </div>
  </div>
</footer>

