<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
<div class="rectangle-div">
</div>
      <div class="login-1-child1">
      </div>
<div class="ave-justo-arosemena-container">
        <p class="ave-justo-arosemena">Ave. Justo Arosemena y Cuba y entre calles 35 y 36 Este.
        </p>
        <p class="ave-justo-arosemena">Corregimiento de Calidonia.
        </p>
        <p class="ave-justo-arosemena">República de Panamá.
        </p>
</div><!Cierra ave-justo-arosemena-container>
      <div class="municipio-de-panam-container">
        <p class="ave-justo-arosemena">
          <a href="tel:+507 524-8900" class="tel">524-8900
          </a>
          <a href="tel:+507 506-9600" class="tel">506-9600
          </a>
        </p>
        <p class="ave-justo-arosemena">© {{ current_year }} | Municipio de Panamá</p>
        <p class="ave-justo-arosemena">Todos los derechos reservados</p>
        <span id="currentYear"></span>
      </div><!Cierra municipio-de-panam-container>
</footer>

